allure-pytest==2.5.4
allure-python-commons==2.5.4
atomicwrites==1.2.1
attrs==18.2.0
basepage==1.7.1
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
future==0.16.0
idna==2.8
lib==3.0.0
more-itertools==5.0.0
pluggy==0.8.1
py==1.7.0
pytest==4.1.1
requests==2.21.0
selenium==3.11.0
six==1.12.0
unittest-xml-reporting==2.2.1
waiting==1.4.1
webium==1.2.1
xmltodict==0.11.0
